<template>
  <div class="chart" id="myChart1"></div>
</template>
<script setup>
import { onMounted, inject } from 'vue'
const echarts = inject('ec')
onMounted(() => {
  const myChart = echarts.init(document.getElementById('myChart1'))
  myChart.setOption({
    title: { text: '总用户量' },
    tooltip: {},
    xAxis: {
      data: ['12-3', '12-4', '12-5', '12-6', '12-7', '12-8']
    },
    yAxis: {},
    series: [
      {
        name: '用户量',
        type: 'line',
        data: [5, 20, 36, 10, 10, 20]
      }
    ]
  })
  window.onresize = function () {
    myChart.resize()
  }
})
</script>
<style scoped>
.chart{
  width: 300px;
  height: 100px;
}
</style>
