<template>
  <div class="myTime">
    <span class="timeTxt">时间：{{myTime}}</span>
  </div>
  <div id="myChart" class="echarts"></div>
  <ChartLine/>
  <div>
    <el-button @click="toRouter()">跳转路由</el-button>
  </div>
</template>
<script>
import { inject, onMounted, ref, onUnmounted } from 'vue'
import moment from 'moment'
import { useRouter } from 'vue-router'
import ChartLine from './components/chartLine.vue'
export default {
  components: { ChartLine },
  setup () {
    const echarts = inject('ec')
    const myTime = ref('')
    const router = useRouter()

    onMounted(() => {
      const myChart = echarts.init(document.getElementById('myChart'))
      myChart.setOption({
        title: { text: '总用户量' },
        tooltip: {},
        xAxis: {
          data: ['12-3', '12-4', '12-5', '12-6', '12-7', '12-8']
        },
        yAxis: {},
        series: [
          {
            name: '用户量',
            type: 'line',
            data: [5, 20, 36, 10, 10, 20]
          }
        ]
      })
      window.onresize = function () {
        myChart.resize()
      }
    })

    const toRouter = () => {
      router.push('/about')
    }

    const timer = setInterval(() => {
      myTime.value = moment().format('YYYY-MM-DD HH:mm:ss')
    }, 1000)

    onUnmounted(() => {
      clearInterval(timer)
    })

    return {
      myTime,
      toRouter
    }
  }
}
</script>
<style lang="scss" scoped>
.myTime{
  background: red;

  .timeTxt{
    color: blue;
  }
}
.echarts{
  width: 300px;
  height: 200px;
}
</style>
